@model CoursesApp.Models.CategoryModel

@{
    ViewBag.Title = "Delete Category";
}

<h2>Delete Category</h2>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentName)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Category", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
